<!-- footer -->
    <div class="footer">
        <p>
          © Copyright 2024 <a href="https://www.linkedin.com/in/emerthornbury/" target="_blank">Maker</a>  &nbsp; &nbsp;<a href="https://www.w3schools.com/w3css/" target="_blank">W3Schools layout</a>
        </p>
    </div>
    