<div class="w3-bar w3-teal w3-border">
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="/about" class="w3-bar-item w3-button">About</a>
  <!-- <a href="/create-idea" class="w3-bar-item w3-button">Get an idea</a> -->
  <!-- <a href="/Art" class="w3-bar-item w3-button">Hmm?</a> -->
  <!-- <a href="/upload" class="w3-bar-item w3-button">Resources</a> -->
  <% if(message) { %> 
    <span class="w3-bar-item"><% message %></span>
  <% } %>
</div>
