<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
        <div class="w3-container l3 w3-text-grey w3-padding" >
            <% include partials/nav %>
                <div class="w3-row">
                    <div class="w3-col l1">
                        <p></p>
                    </div>
                    <div class="w3-col l3">
                        <p>Using Richard Serra verbs, grounds and materials, when you click the button a randomly generate selection will be returned to help generate ideas or fresh avenues to try.</p>
                       
                        <h2>Click to get ideas</h2>
                        <% if(message) { %> 
                            <p><%= message %></p>
                          <% } %>
                        <form action="/create-idea/" method="post" class="w3-container">        
                           
                                <button class="w3-btn w3-teal">Click for idea</button>
                            </div>
                        </form>
                  
                    </div>
                    <div class="w3-col l3">
                    </div>
                    <div class="w3-col l3">
                    </div>
                </div>
            <% include partials/footer %>
          </div>
    </body>
</html>